.width-100 {
    width: 100%;
}

.height-100 {
    height: 100%;
}

.height-50 {
    height: 50%;
}


/* color */
.event-background {
    background-color: #e1f0ff;
}

.event-background2 {
    background-color: #e1f0ff;
}

.themeblue-bg {
    background-color: #0053cc;
}

.black-bg {
    background-color: black;
}

.light-bg {
    background-color: #f2f2f2;
}


//Borders
.border-2 {
    border-radius: 2px;
}

.border-4 {
    border-radius: 4px;
}

.event-border {
    border: 1px solid #00a3bf;
    border-left: 6px solid #00a3bf;
}

.event-border2 {
    border: none;
    border-left: 6px solid #00a3bf;
}

.event-icon {
    position: absolute;
    color: #f6707f;
    bottom: 2px;
    right: 4px;
}

.border-gray {
    border: 1px solid #dddddd;
}

.slot {
    height: 80px;
    cursor: pointer;
    position: relative;
}

.slot1 {
    height: 80px;
    cursor: pointer;
    position: relative;
}

.slot1>span {
    z-index: 3;
    background-color: blue;
    color: white;
    border-radius: 2px;
}

.slot1>div {
    display: none;
}

.slot1>div:nth-child(-n+2) {
    display: flex;
}

.col {
    border: #e0e0e0 1px solid;
}

.cursor-pointer {
    cursor: pointer;
}