* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.filter_button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
  font-weight: 600;
  color: #0053CC;
}

.year {
  display: flex;
  align-items: center;
}

aside {
  width: 16rem;
  padding: 1rem;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  ;
  grid-template-rows: repeat(6, minmax(0, 1fr));
  ;
}

.flex-1 {
  flex: 1 1 0%;
}

.padding-y {
  padding: 0.5rem 0;
}

.w-full {
  width: 100%;
}

.nowDay {
  color: black;
  border-radius: 9999px;
  background-color: rgb(59 130 246);
}

.slcDay {
  border-radius: 9999px;
  color: rgb(59 130 246);
  font-weight: bold;
  background-color: rgb(219 234 254);
}

.border-sidebar {
  border: 1px solid gray;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.border-gray {
  border: 1px solid gray;
}

.align-items-center {
  align-items: center;
}

.mt-1 {
  margin-top: 0.5rem;
}

.text-center {
  text-align: center;
}

.p-1 {
  padding: 0.5rem;
}

.my-1 {
  margin: 0.5rem 0;
}

.cursor-pointer {
  cursor: pointer;
}

.mr-3 {
  margin-right: 1.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.rounded {
  border-radius: 0.25rem;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.current__day {
  background-color: rgb(59 130 246);
  color: black;
}

.rounded-full {
  border-radius: 9999px;
}

.padding-x {
  padding: 0 1rem;
}

.bg-blue {
  background-color: rgb(59 130 246);
  color: white;
}